NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_BRAND_NAME=Nhôm Hiệp Khanh
NEXT_PUBLIC_PHONE=0900 000 000
NEXT_PUBLIC_ZALO=0900000000
NEXT_PUBLIC_FACEBOOK=https://facebook.com/nhomhiepkhanh
NEXT_PUBLIC_ADDRESS=Làng nghề nhôm, Việt Nam
NEXT_PUBLIC_BANK_NAME=Vietcombank
NEXT_PUBLIC_BANK_ACCOUNT=0123456789
NEXT_PUBLIC_BANK_HOLDER=NGUYEN VAN A
